// Colour definitions
$prussian_blue: #013549;
$dark-blue: #425968;
$dark-grey: #3e3e3e;
$grey: #95A1AA;
$light-grey: #DFE0E2;
$tropical-blue: #C2E2F7;
$monza: #D0021B;
$porcelain: #ECEEEF;
$breaker-bay: #5B9A98;
$wild-sand: #f5f4f4;
$deep-cerulean: #EF6F5C;
$bright-gray: #3B434F;

// Pallete
$tonys-purple: #5533ff;
$cerise: #D82658;
$sienna: #EF6F5C;
$saffron: #F5CA40;
$malibu: #62D5FF;

// Base colors.
$white: #fff;
$black: #000;

