<div class="sign-up-container">
  <div class="col-lg-5 header-logo">
    <a href="/" title="Home" rel="home">
      <img src="/themes/custom/wfc_boot/images/wfc_logo_stroke_filled.png" title="Wanderers' Flight Club logo" alt="Wanderers' Flight Club logo">
    </a>
  </div>
  <div class="col-lg-7 signup">
    {{ vars.footer_sign_up_text|raw }}
    {{ vars.sign_up_form }}
  </div>
</div>


