<div class="header-logo">
  <a href="/" title="Home" rel="home">
    <img src="/themes/custom/wfc_boot/images/wfc_logo_stroke_filled.png" title="Wanderers\' Flight Club" alt="Wanderers\' Flight Club logo">
  </a>
</div>


