<div class="gradient-no-back angle--both-right-right" style="background: url({{ vars.deal_image }});background-repeat: no-repeat; background-position: center; background-size: cover;background-color: #02a5ff;"></div>
<div class="container">
  <div class="row">
     <div class="col deal">
      <p>Recent deals:</p>
      {{ vars.deals.value|raw }}
    </div>
  </div>
</div>
