<div class="gradient-2"></div>
<div class="container-fluid">
  <h2>{{ vars.title }}</h2>
  <div class="about-us-content">
    {{ vars.content | raw }}
  </div>
  <div class="row row-panel">

    {% for image in vars.images %}

      <div class="col-md-4 panel">
        <img src="{{ file_url(image.entity.field_alternative_image.entity.uri.value) }}" alt="" title="">
        <div class="text-container">
          {{ image.entity.field_alternative_text.value|raw }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>









