<div class="container">
  <h2>{{ vars.title }}</h2>
  <div class="row panel-container">
    <div class="col-md-6 panel">
      <span class="img excursionist-img"></span>
      {{ vars.text.0.value|raw }}
      <div class="bottom">
        <a href="#top" class="btn--block" title="Sign-up">Sign-up</a>
      </div>
    </div>
    <div class="col-md-6 panel">
      <span class="img calator-img"></span>
      {{ vars.text.1.value|raw }}
      <div class="bottom">
        <a href="/wonder" class="btn--block" title="Sign-up">Sign-up</a>
      </div>
    </div>
  </div>
</div>
