<div class="premium-header">
  <img src="/themes/custom/wfc_boot/images/premium/premium_header_plane.png" title="Wanderers\' Flight Club Premium" alt="Wanderers\' Flight Club Premium logo">
  <h2>{{ vars.title }}</h2>
  <h4>{{ vars.intro_text | raw }}</h4>
</div>
