<div class="premium-header">
  <a href="/" title="Home" rel="home">
    <img src="/themes/custom/wfc_boot/images/premium/premium_header_plane.png" title="Wanderers' Flight Club Premium" alt="Wanderers' Flight Club Premium logo">
  </a>
  <h2>{{ vars.title }}</h2>
  {{ vars.intro_text | raw }}
</div>
