
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/plan/quarterly" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Tg58w3G2WIEhi8qHH9jwHkaS"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-name="WFC"
          data-description="3 months"
          data-amount="1000"
          data-locale="auto"
          data-currency="gbp"
          data-label="Subscribe!"
          data-allow-remember-me="false"
          data-product="3">
        </script>
      </form>
    </div>
    <div class="col">
      <form action="/plan/semiannual" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Tg58w3G2WIEhi8qHH9jwHkaS"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-name="WFC"
          data-description="6 months"
          data-amount="1600"
          data-locale="auto"
          data-currency="gbp"
          data-label="Subscribe!"
          data-allow-remember-me="false"
          data-product="6">
        </script>
      </form>
    </div>
    <div class="col">
      <form action="/plan/annual" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Tg58w3G2WIEhi8qHH9jwHkaS"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-name="WFC"
          data-description="12 months"
          data-amount="2800"
          data-locale="auto"
          data-currency="gbp"
          data-label="Subscribe!"
          data-allow-remember-me="false"
          data-product="12">
        </script>
      </form>
    </div>
  </div>
</div>
