#site-footer {
  position: relative;
  .region-footer-top {
    padding-top: 5rem;
  }
  .footer_bottom {
    margin-top: -10rem;
    color: $white;
    text-align: center;
    h4, a, a:visited, p, .copyright {
      color: white;
      text-shadow: 0.1rem 0.1rem 0.1rem #013549;
    }
    #block-wfc-boot-footerblock {
      .contact {
        padding-bottom: 3rem;
      }
      .social-media {
        padding-bottom: 1rem;
        a {
          text-decoration: none;
        }
        .facebook {
          padding-right: 3rem;
        }
        .facebook,
        .instagram {
          img {
            width: 6.4rem;
            height: 6.4rem;
            &:hover {
              opacity: 0.7;
              filter: alpha(opacity=70);
            }
          }
        }
      }
      .footer-menu {
        ul {
          text-align: center;
          @include media-breakpoint-up(md) {
            flex-direction: initial;
            justify-content: space-evenly;
            align-items: stretch;
          }
          @include media-breakpoint-up(xl) {
            padding: 0 200px;
          }
        }
        li {
          padding-bottom: 1.5rem;
          @include media-breakpoint-up(lg) {
            flex: 0 1 auto;
            display: block;
            padding-bottom: 0;
          }
          a {
            text-align: center;
            @include media-breakpoint-up(lg) {
              padding: 0 16px;
            }
          }
        }

      }
    }
  }
}
