#block-wfc-boot-homepageaboutusblock{
  z-index: 0;
  position: relative;
  @include media-breakpoint-up(lg) {
    margin-top: 3rem;
  }
  h2, p {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem $prussian_blue;
  }
  h2 {
    padding-top: 10rem;
  }
  p {
    font-size: ms(0);
    text-align: center;
  }
  .about-us-content {
    padding: 0 3rem;
    margin-bottom: 5rem;
    @include media-breakpoint-up(lg) {
      padding: 0 15rem;
      margin-bottom: 10rem;
    }
    @include media-breakpoint-up(xxl) {
      padding: 0 20rem;
    }
  }
  .row-panel {
    transform: skewY(-3deg);
    transform-origin: 0;
    @include media-breakpoint-up(xxl) {
      padding: 0 10rem;
    }
    .panel {
      @include media-breakpoint-up(lg) {
        padding: 0 5rem;
      }
      img {
        padding: 0 5rem;
      }
      .text-container {
        margin-bottom: 4rem;
        @include media-breakpoint-up(lg) {
          margin-bottom: 2rem;
        }
        h2 {
          padding-top: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
