.eu-cookie-compliance-banner{
  background-color: $tonys-purple;
  border-top: 0.5rem solid $black;
  #popup-text {
    h2, p {
      color: $white;
      text-shadow: 0.1rem 0.1rem 0.1rem $prussian_blue;
      font-weight: normal;
    }
    h2 {
      padding-top: 0;
    }
  }
  #popup-buttons {
    text-align: center;
  }
  .eu-cookie-compliance-buttons {
    margin: -8px 0 0 0;
  }
  .eu-cookie-compliance-default-button,
  .eu-cookie-compliance-secondary-button {
    color: $white;
    cursor: pointer;
    border: none;
    background: none;
    margin-top: 1em;
    padding: 0 0.8rem;
    vertical-align: middle;
    margin-left: 3rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: inherit;
    font-weight: normal;
    text-shadow: none;
    padding: 1rem 2rem;
    &:hover {
      text-decoration: underline;
      background: $deep-cerulean;
      color: $white;
    }
  }
}
