#block-wfc-boot-views-block-faq-listing-block-1 {
  margin-top: 3rem;
  .view-footer {
    text-align: center;
    margin-top: 2rem;
  }
  a:visited {
    color: $prussian_blue;
  }
  a:hover {
    color: $deep-cerulean;
  }
}
