#block-wfc-boot-homepagesignupblock {
  text-align: center;
  padding-bottom: 7rem;
  &.block {
    padding-top: 0;
  }
  .sign-up-text {
    @include media-breakpoint-up(xl) {
      padding: 0 15rem;
    }
  }

}

.sendgrid-email-registration-form,
.footer-sendgrid-email-registration-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  label {
    display: none;
  }
  .result_message {
    min-height: 2.3rem;
    text-align: center;
    color: $prussian_blue;
    font-weight: $bold;
    padding-bottom: 2rem;
    padding-top: 2rem;
    flex-basis: 100%;
    a::after {
      content: '↬';
      padding-left: 0.5rem;
    }
  }
  .ajax-progress-throbber {
    position: absolute;
    right: 2rem;
    top: 1rem;
    color: red;
    .message {
      display: none;
    }
  }
  input[type="email"] {
    height: 6.5rem;
  }
  .form-item-email {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 40rem;
    }
  }
  .submit-wrapper {
    position: relative;
    button[type=submit] {
      height: auto;
      padding: 2.3rem 8rem;
    }
    @include media-breakpoint-up(md) {
      margin-left: 2rem;
    }
  }
}

.sendgrid-email-registration-form {
  .result_message {
    @include media-breakpoint-up(md) {
      padding-top: 0;
    }
  }
}
