#block-wfc-boot-homepagehowitworksblock {
  position: relative;
  background-color: $white;
  h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  .panel {
    padding: 0;
    border: none;
    text-align: center;
    margin-bottom: 4rem;
    padding: 0 2rem;
    img {
      height: 10rem;
      margin-bottom: 2rem;
    }
    h3 {
      text-align: center;
      height: 5.6rem;
    }
    p {
      text-align: left;
      text-align: center;
      @include media-breakpoint-up(sm) {
        text-align: left;
      }
    }
    span {
      text-decoration: none;
      color: $prussian_blue;
      font-weight: $bold;
      cursor: pointer;
      &:hover {
        color: $deep-cerulean;
        text-decoration: underline;
      }
      &:after {
        content: '↬';
        padding-left: 1rem;
      }
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
  .read-more {
    text-align: center;
    margin-top: 2rem;
  }
}
