.node--premium {
  .benefits-hero-wrapper {
    position: relative;
    padding-bottom: 4rem;
    margin-top: 5rem;
    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }
  .benefits-wrapper {
    padding-top: 4rem;
    position: relative;
    .container {
      position: relative;
      padding-top: 5rem;
      padding-bottom: 5rem;
      @include media-breakpoint-up(xl) {
        padding-top: 10rem;
        padding-bottom: 10rem;
      }
    }
    .col-md-3 {
      text-align: center;
      padding: 2rem 0;
      @include media-breakpoint-up(md) {
        text-align: right;
        padding: 0;
      }
      p::after {
        @include media-breakpoint-up(md) {
          content: "-";
          position: absolute;
          top: 0;
          right: -1.3rem;
        }
      }
    }
    p {
      color: $prussian_blue;
      &.title {
        font-family: $gputek-bold;
      }
    }
    .wanderer-extra-bits-img {
      position: absolute;
      display: block;
      background: url("/themes/custom/wfc_boot/images/wanderer_extra_bits.png") no-repeat center;
      background-size: 12rem 9rem;
      width: 12rem;
      height: 9rem;
      right: 1rem;
      top: 12rem;
      @include media-breakpoint-up(md) {
        right: 5rem;
        top: initial;
      }
      @include media-breakpoint-up(xl) {
        right: 20%;
      }
    }
    .wanderer-img {
      background: url("/themes/custom/wfc_boot/images/wanderer.png") no-repeat center;
      background-size: 25rem 35rem;
      height: 35rem;
      @include media-breakpoint-up(xl) {
        top: -8rem;
        right: -5rem;
        width: 25rem;
      }
    }
  }

}
