#block-premiumheaderblock {
  text-align: center;
  .premium-header {
    margin-bottom: 7rem;
    img {
      width: 65rem;
      @include media-breakpoint-up(md) {
        margin-right: 8rem;
      }
    }
    h2 {
      margin-bottom: 2rem;
      font-size: ms(4);
      text-shadow: 0.1rem 0 0 $white, -0.1rem 0 0 $white, 0 0.1rem 0 $white, 0 -0.1rem 0 $white, 0.1rem 0.1rem $white, -0.1rem -0.1rem 0 $white, 0.1rem -0.1rem 0 $white, -0.1rem 0.1rem 0 $white;
    }
    p {
      color: $white;
      margin-bottom: 2rem;
    }
  }

}
