.node--premium {
  .packages-wrapper {
    text-align: center;
    color: $prussian_blue;
    margin: 0 7rem;
    .field--name-field-packages-intro {
      padding: 0 10rem 0;
    }
    .length{
      font-family: $gputek-bold;
      font-size: ms(2);
    }
    .package-details {
      margin: 2rem 2rem 0;
      border: 4px solid $tonys-purple;
      padding: 1rem 0;
      font-family: $gputek-bold;
      position: relative;
      &:before {
        position:absolute;
        left:-1px;
        top:-1px; content:'';
        border-top: 70px solid $tonys-purple;
        border-right: 70px solid transparent;
      }
      &:after {
        position: absolute;
        right: -4px;
        bottom: -4px;
        content: '';
        border-bottom: 70px solid #5533ff;
        border-left: 70px solid transparent;
      }
      &:hover {
        cursor: pointer;
        border-color: $sienna;
        &:before {
          border-top-color: $sienna;
        }
        &:after {
          border-bottom-color: $sienna;
        }
      }
      span {
        display: block;
      }
      .price {
        font-size: ms(2);
      }
      .intro {
        margin-bottom: 3rem;
      }
    }
    .three {
      margin-top: 6rem;
    }
    .six {
      .price {
        font-size: ms(3);
      }
      .package-details {
        padding: 2rem 0;
      }
    }
    .twelve {
      margin-top: -7rem;
      .price {
        font-size: ms(4);
      }
      .package-details {
        padding: 3rem 0;
      }
      .image {
        background: url("/themes/custom/wfc_boot/images/premium/best_price_plane.png") no-repeat center;
        background-size: 28rem 5rem;
        height: 5rem;
        display: block;
        margin-right: -9rem;
      }
    }
  }
}
