.path-user {
  .outer-wrapper {
    margin-top: -5rem;
    margin-bottom: 5rem;
    @include media-breakpoint-up(lg) {
      padding: 0 10rem;
    }
    @include media-breakpoint-up(xl) {
      padding: 0 25rem;
    }
    .details-wrapper {
      margin-top: 1.5rem;
      padding: 1.5rem 1rem;
      background-color: $malibu;
      @include media-breakpoint-up(md) {
        margin-top: 3rem;
        padding: 3rem;
      }
      h3 {
        font-size: ms(-1);
        overflow-wrap: break-word;
        @include media-breakpoint-up(md) {
          font-size: ms(1);
        }
      }
      span.label {
        @include media-breakpoint-up(md) {
          width: 40%;
          display: inline-block;
        }
      }
      span.text {
        display: block;
        @include media-breakpoint-up(md) {
          width: 60%;
          display: inline-block;
        }
        background-color: $white;
        padding-left: 1rem;
      }
    }
  }
}
